@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl text-slate-800 dark:text-slate-300 font-extrabold;
}

h2 {
  @apply text-2xl text-slate-700 dark:text-slate-300 font-bold;
}

h3 {
  @apply text-xl text-slate-700 dark:text-slate-300 font-semibold;
}

p {
  @apply font-normal text-slate-700 dark:text-slate-400;
}

.header {
  @apply container px-4 flex items-center md:justify-end justify-between h-16 py-4;
}

a {
  @apply inline-block text-slate-700 dark:text-slate-300 transition duration-300 ease-in-out;
}

a:hover {
  @apply text-primary scale-105 cursor-pointer;
}

body {
  @apply bg-slate-50 dark:bg-slate-800;
}

ol {
  @apply list-decimal text-slate-800 dark:text-slate-400;
}

li {
  @apply list-disc text-slate-800 dark:text-slate-400;
}

#workBody ol {
  @apply list-decimal list-outside  pl-4;
}

#workBody ol li {
  @apply mb-2 font-medium;
}

#blogDetail ul {
  @apply list-disc pl-4;
}

#blogDetail ol {
  @apply list-decimal pl-4;
}

#blogDetail ul li {
  @apply mb-2;
}

#blogDetail p {
  @apply font-normal;
}

#labelDarkmode {
  width: 40px;
  height: 20px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(51, 65, 85, 0.4),
    inset 0px -5px 15px rgba(203, 213, 255, 0.4);
  cursor: pointer;
}

#labelDarkmode:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: -2px;
  right: 0px;
  background: linear-gradient(180deg, #ff6464, #b44444);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

#darkmode-toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}

#darkmode-toggle:checked + #labelDarkmode {
  background: #242424;
}
#darkmode-toggle:checked + #labelDarkmode:after {
  left: calc(100%-10px);
  transform: translateX(-60%);
  background: linear-gradient(180deg, rgb(203 213 255), rgb(51 65 85));
}
#labelDarkmode,
#labelDarkmode:after {
  transition: 0.3s;
}

#workDetail h3 {
  @apply text-xl text-slate-700 dark:text-slate-300 mt-2 font-semibold;
}
